.wizard-stepper-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.wizard-stepper-container .wizard-stepper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.wizard-stepper-container .wizard-stepper-content img {
    width: 100%;
    max-width: 300px;
}

.wizard-stepper-container .action-buttons {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.wizard-stepper-container .action-buttons .action-buttons-section {
    display: flex;
    justify-content: center;
}

.wizard-stepper-container .action-buttons .action-buttons-section > div:not(:last-child) {
    margin-right: 1em;
}

.wizard-stepper-container .action-buttons .action-buttons-section .scale-slider {
    flex: 1;
}

.wizard-stepper-container .action-buttons .action-buttons-section .scale-slider > div {
    margin-top: 0;
    margin-bottom: 1em;
}